"*":
  "atom-material-ui":
    colors: {}
    fonts:
      fontSize: 18
    tabs:
      compactTabs: true
      noTabMinWidth: true
      tintedTabBar: true
    treeView: {}
    ui:
      panelContrast: true
  core:
    disabledPackages: [
      "linter"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "5b716e66-6cfc-daa7-bbbd-955dcf9c061f"
  "flatwhite-syntax":
    ebmedded: "Full"
  latex: {}
  linter:
    errorPanelHeight: 44
  "linter-pylint":
    executable: "/Library/Frameworks/Python.framework/Versions/3.5/bin/pylint"
    pythonPath: "/usr/local/bin/python3.5"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
  welcome:
    showOnStartup: false
